/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: #333;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1260px;
    padding: 0px 15px;
}

html, body {
    font-family: 'Lato', sans-serif;
}

.button {
    cursor: pointer;
    display: inline-block;
    height: 52px;
    width: 206px;
    transition: .3s;
    color: #fff;
    padding: 0 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
    white-space: nowrap;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(5555.95deg, rgba(255, 63, 58, 0.2) 0%, rgb(247, 94, 5, 0.2) 100%);
}

.button--empty {
    background-image: none;
    border-left: 2px solid #ff3f3a;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #ff3f3a, #F75E05), -webkit-linear-gradient;
    background-image: linear-gradient(left, #ff3f3a, #F75E05), linear-gradient();
    background-size: 100% 1px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #ff3f3a 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button:hover {
    transform: scale(1.05);
}

.logo {
    margin-right: 60px;
}

.header__top-inner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;

}

.header__nav {
    margin-right: auto;

}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__logo {}

.header__nav-link {
    transition: all .3s;
    font-weight: 700;
    color: #424551;
    line-height: 1.6;

}

.header__nav-link:hover {
    color: #ff3f3a;
}

.header__btn-box {
    display: flex;
}


.header__user {
    color: #333;
    position: relative;
    font-weight: 700;
    line-height: 160%;
    padding: 15px 0px;
    white-space: nowrap;
    margin-left: 45px;
}

.header__user-btn:hover {
    color: #ff3f3a;
}

.header__user-person {
    position: absolute;
    top: 18px;
    right: 115px;
}

.header__user-btn {
    transition: all .3s;
    font-weight: 700;
    color: #333;
}

.header__top-btn {
    cursor: pointer;
}

.header__body {

    flex:1 1 auto ;
}

.header__main {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    margin-right: 30px;
}

.header_title {
    margin-bottom: 60px;
    max-width: 500px;
    font-size: 900px;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
}

.header__content-buttons {
    gap: 24px;
    display: inline-flex;
}

.header__play {
    margin-bottom: 24px;
    display: inline-flex;
    align-items: center;
}

.header__play svg {
    transition: all .3s;
    margin-right: 16px;
    border-radius: 50%;
}

.header__play:hover svg {
    box-shadow: 0 0 0 15px #ecbcbc;
}

.header__row {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__row-item span {
    margin-right: 16px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.header__row-item {
    align-items: center;
    display: flex;

}

.header__row>span {
    margin: 0 15px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #FF3F3A;
}
.header__body-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
}